{{ define "main" }}
<div class="intro" style="align-items: center; position: relative;">
  {{ partial "menu.html" . }}
  {{ if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' title="{{ .Site.Params.main.img_title }}" width="200px" alt="" />
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  {{ end }}
  <div class="description" style="font-size: 23px; font-weight: 500; font-family: 'EB Garamond', sans-serif;">
    I'm an Assistant Professor at the Department of Economics and Finance, University of Rome Tor Vergata. My research field is Econometrics. I graduated from University Carlos III of Madrid under the supervision of <a href="https://economics.uc3m.es/personal/miguel-angel-delgado/" target="_blank" style="text-decoration: none;">Miguel Angel Delgado </a>.
  </div>
</div>
{{ end }}
