{{ define "main" }}
<div class="intro" style="align-items: center">
  {{ if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' title="{{ .Site.Params.main.img_title }}" width="200px" alt="" />
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  </ul>
  {{ end }}
  <div class="description" style="font-size: 23px; font-weight: 500; font-family: 'EB Garamond', sans-serif;">
    I am a Postdoctoral scholar at Aarhus University. I obtained a PhD in economics at the Universidad Carlos III de Madrid. My research interests include topics related to Econometric Theory and Applied Econometrics.

    <strong>References:</strong> <a href="https://economics.uc3m.es/personal/miguel-angel-delgado/" target="_blank" style="text-decoration: none;">Miguel Angel Delgado </a> (Advisor, UC3M), <a href="https://economics.uc3m.es/personal/juan-carlos-escanciano/" target="_blank" style="text-decoration: none;">Juan Carlos Escanciano</a> (UC3M), <a href="https://economics.uc3m.es/personal/carlos-velasco/" target="_blank" style="text-decoration: none;">Carlos Velasco</a> (UC3M).   
  </div>
  {{ partial "menu.html" . }}
</div>
{{ end }}