{{ define "main" }}
<div class="intro" style="align-items: center">
  {{ if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' title="{{ .Site.Params.main.img_title }}" width="200px" alt="" />
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  </ul>
  {{ end }}
  <div class="description" style="font-size: 22px;"> <!-- Adjust the font size here -->
    <strong>{{ .Site.Params.main.description | markdownify | safeHTML }}
    </strong>
  </div>
  {{ partial "menu.html" . }}
</div>
{{ end }}